div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 5rem;
}
@media only screen and (max-width: 1200px) {
    div.grid-container {
        grid-template-columns: 1fr 1fr ;
    }
}
@media only screen and (max-width: 800px) {
    div.grid-container {
        grid-template-columns: 1fr;
    }
}

div.card {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 20px 1px white;
}
div.card:hover > div.desc-container {
    top: 0;   
}

div.card > div.desc-container {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(transparent, black 50%);
    color: white;
    padding: 2rem;
    transition: top 300ms ease;
}
div.card > div.desc-container > h2 {
    margin-bottom: 2rem;
    border-bottom: 5px solid white;
  
}
div.card > div.desc-container > p {
    letter-spacing: .1rem;
    text-align: justify ;
    line-height: 1.25rem;
}
div.card > div.desc-container > p::first-letter {
    margin-left: 1rem;
}

div.card > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}